:root {
    --bright_red: #DC2026;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --background_color: #1B1D2A;
    background-color: var(--background_color);
}

h1 {
    font-size: 100px;
    color: var(--bright_red);
    text-align: center;
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: var(--light_yellow);
    padding: 20px;
    text-align: center;
    /* align-items: center; */
}

h3 {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-decoration-style: solid; */
    text-align: center;
    color: var(--light_yellow);
}

p {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
    text-align: center;
    color: var(--light_yellow);
}

/* Buttons */
#all-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

header {
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 32px;
    font-family: 'Lobster', cursive;
    color: var(--light_yellow);
    text-align: center;
    position: relative;
    top: -200px;
    line-height: 0.1;
}

.img-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -230px;
}

.click-me {
    color: var(--butter);
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

#lamp:hover {
    transform: scale(1.5);
}

#lamp:active {
    transform: scale(1.5);
}

button {
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
    padding: 20px;
    border-radius: 1.5rem;
    color: var(--white);
    background-color: var(--dark_red);
    text-align: center;
}

button:hover {
    box-shadow: 0px 0px 10px maroon;
}

button.active {
    background-color: green !important;
}

#streaming-avail {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 60px;
    border-style: dotted;
    border-color: var(--butter);
    border-width: thick;
    background-color: var(--dark_red);
    color: var(--light_yellow);
}

main {
    display: none;
}

/* Desktop size */
@media (min-width: 992px) {
    main {
        display: block;
    }
}

/* Tablet size */
@media (max-width: 768px) {
    h1 {
        font-size: 200px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 0.8rem;
    }
}

/* Mobile size */
@media (max-width: 576px) {
    h1 {
        font-size: 150px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 0.7rem;
    }
}
