:root {
    --bright_red: #DC2026;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --background_color: #1B1D2A;
    background-color: var(--background_color);
}
img {
  display: block;
  margin: 0 auto;
}

h1 {
    font-size: 150px;
    color: var(--bright_red);
    text-align: center;
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 60px;
    font-family: 'Lobster', cursive;
    color: var(--light_yellow);
    padding: 20px;
    text-align: center;
    /* align-items: center; */
}

h3 {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-decoration-style: solid; */
    text-align: center;
    color: var(--light_yellow);
}

p {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
    text-align: center;
    color: var(--light_yellow);
}

/* Genre Buttons */
#all-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
  }
  
  #all-buttons button {
    font-size: 24px;
    background-color: #2c2e3e;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    white-space: nowrap;
  }

button.active {
    background-color: darkgoldenrod !important;
}

header {
    display: flex;
    flex-direction: column;
}

.img-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -230px;
}

.click-me {
    color: var(--butter);
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.center {
    text-align: center;
    margin-top: 20px; 
  }
  
  #suggest-movie-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--butter);
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 50px;
  
}

#suggest-movie-btn.hidden {
  display: none;
}

.suggest-movie-btn {
  position: relative;
  height: 450px; /* keeping a fixed height container to keep animation from getting jumpy */
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background-image: url(../../lamp.png);
  /* background-size: 613px 391 px; */
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 613px;
  height: 391px;
cursor: grab;
}

.suggest-movie-btn img.cloud-animation {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 613px;
  height: 391px;
  
}

  

  

  #poster-section {
    display: none;
  }
  #poster-section #overview {
  font-size: 2rem;
}
  
  .button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
  }

#lamp:hover {
    transform: scale(1.5);
}

#lamp:active {
    transform: scale(1.5);
}

button {
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
    padding: 20px;
    border-radius: 1.5rem;
    color: var(--white);
    background-color: var(--dark_red);
    text-align: center;
}

button:hover {
    box-shadow: 0px 0px 10px maroon;
}

#rub-again-btn {
    /* Increasing button size */
    padding: 15px 30px;
    font-size: 24px;
      
    /* Centering the button */
    display: block;
    margin: 20px auto;
    
    /* Optional Styling */
    background-color: var(--bright_red); /* use --bright_red here */
    color: var(--white); /* if you want the text to be white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
    
  #rub-again-btn:hover {
    background-color: darken(var(--bright_red), 10%); /* use darken() to make it darker when hovered over */
  }
  
  #save-movie-btn {
    /* Increasing button size */
    padding: 15px 30px;
    font-size: 24px;
    
    /* Centering the button */
    display: block;
    margin: 20px auto;
    
    /* Optional Styling */
    background-color: var(--bright_red);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #save-movie-btn:hover {
    background-color: #9c0d15;
  }


/* Desktop size */
@media (min-width: 992px) {
    main {
        display: block;
    }
}

/* Tablet size */
@media (max-width: 768px) {
    h1 {
        font-size: 200px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 0.8rem;
    }
}
#saved-movies-carousel-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  #saved-movies-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    gap: 20px; /* Adjust the value as needed for spacing between carousel items */
  }
  
  .carousel-movie {
    /* flex: 0 0 auto;
    width: 200px; /* Adjust the width of each movie container */
    /* padding: 10px;  */
    text-align: center;
  }
  
  .carousel-poster {
    width: 100%; /* Adjust the width of each movie poster image */
    height: auto; /* Allow the height to adjust proportionally */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  .carousel-title {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color: var(--light_yellow);
    margin-top: 20px;
    text-align: center;
  }


/* Mobile size */
@media (max-width: 576px) {
    h1 {
        font-size: 150px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 0.7rem;
    }
}
